.logo-box {
    padding: 1rem;
    display: grid;
    align-items: center;
    background-color: rgb(115, 190, 244);
    border-radius: 25px
}

.skills-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 18%;
    margin-right: 18%;
}

.logo {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-content: center;
}

.logo-content {
    display: block;
    margin: auto;
}

.logo-label {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    margin-top: 0;
    font-size: medium;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: xxx-large;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-bottom: 0;
}

p {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
}

.section-caption {
    font-size: small;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-left: 32%;
    margin-right: 32%;
}

.h1-caption{
    margin-top: 0;
}

.port-content{
    background-color: rgb(11, 115, 189);
    width: 100%;
    margin-bottom: 0;
}

body{
    margin: 0;
    padding-bottom: 0;
    background-color: rgb(49, 155, 231);
    color: white;
}

main{
    margin: 0;
    padding: 0;
}

.skills{
    color: white;
}

.page-title{
    margin: 4rem;
}